<app-header></app-header>

<!-- <div class="movie-container" *ngIf="movieDetail">
    <h1>Title: {{movieDetail.title}}</h1>
    <h3>Genre: {{movieDetail.genres[0].name}}</h3>
    <h2>Rating: {{movieDetail.vote_average}}</h2>
</div> -->

<div class="movie-details-container" *ngIf="movieDetail">
  <div class="card">
    <img class="image" src="{{baseImageUrl}}{{movieDetail.poster_path}}" alt="Avatar missing" style="width:100%">
    <div class="details-container">
      <h4><b>{{movieDetail.title.substring(0,10)}}</b></h4>
      <p>{{movieDetail.overview.substring(0,200)}}</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
