.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.movie-container{
    background-color: rgb(61, 170, 143);
    border: 1px solid rgb(183, 220, 20);
    margin: 10px;
    padding: 10px;
    text-align: center;
}
