<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
    <div class="container">
        <a class="navbar-brand" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">
            <img src="https://lh3.googleusercontent.com/proxy/zF2KQoxHC1VNPwkQ62uzkj-SvN0JEYq3MQUxsv4zj50p1GGt7mUfK37WfS27DsP-YYPF3aIDdu9ntN8HTzg9SertimDvgQyBToJTK6-rJucPSnR3kbKxkJifdiBaWez2LBdAjvCGXskx-r8" alt="" width="30" height="24" class="d-inline-block align-text-top">  
            <span class="nav-text"> TMDB </span>
        </a>

      <div class="nav-container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/tmdb-movie" [routerLinkActiveOptions]="{exact:true}"><span class="nav-text"> Movies </span></a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/artists" [routerLinkActiveOptions]="{exact:true}"><span class="nav-text"> Artists </span></a></li>
            </ul>
          </div>
      </div>
      
    </div>
</nav>
