<div class="container">

    <div *ngIf="filteredSortBy" class="chip">
      <img src="https://images.unsplash.com/photo-1535016120720-40c646be5580?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" alt="Person" width="96" height="96">
      {{filteredSortBy}}
      <span class="closebtn" (click)="removeFilteredSortBy()">&times;</span>
    </div>
  
    <div *ngIf="filteredGenre['name']" class="chip">
      <img src="https://images.unsplash.com/photo-1598899134739-24c46f58b8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1156&q=80" alt="Person" width="96" height="96">
      {{filteredGenre['name']}}
      <span class="closebtn" (click)="removeFilteredGenre()">&times;</span>
    </div>
  
    <div *ngIf="filteredCertificate" class="chip">
      <img src="https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="Person" width="96" height="96">
      {{filteredCertificate}}
      <span class="closebtn" (click)="removeCertificate()">&times;</span>
    </div>
  
    <br><br>
    <div class="card-container">
      
      <div class="dropdown-container">
  
        <div class="dropdown">
      
          <div>
            <button class="dropbtn">Sort by</button>
            <div class="dropdown-content">
              <div class="dropdown-list" *ngFor="let item of sortItems; let i=index">
                <div class="genre-item" (click)="getFilteredSortBy(i)" >
                  {{item}}
                </div>
              </div>
            </div>
          </div>
      
          <div>
            
          </div>
          
        </div>
  
  
        <div class="dropdown">
  
          <div>
            <button class="dropbtn">Genre</button>
            <div class="dropdown-content">
              <div class="dropdown-list" *ngFor="let genre of genres; let i=index">
                <div class="genre-item" (click)="getFilteredGenre(i)" >
                  {{genre.name}}
                </div>
              </div>
            </div>
          </div>
      
          <div>
            
          </div>
        
        </div>
  
      
        <div class="dropdown">
      
          <div>
            <button class="dropbtn">Certification</button>
            <div class="dropdown-content">
              <div class="dropdown-list" *ngFor="let certificateKey of certificateKeys; let i=index">
                <div class="genre-item" (click)="getFilteredCertificate(i)" >
                  {{certificateKey}}
                </div>
              </div>
            </div>
          </div>
      
          <div>
            
          </div>
          
        </div>
      
      </div>
  
  
      <div class="movie-container">
        <div *ngFor="let movie of movieList" class="card">
          <img class="image" src="{{baseImageUrl}}{{movie.poster_path}}" alt="Avatar missing" style="width:100%">
          <div class="container">
            <h4><b>{{movie.title}}</b></h4>
            <p>{{movie.overview.substring(0,100)}}</p>
          </div>
        </div>
      </div>
    </div>
    
  
  </div>
  